Нужно перевести с языка программирования rust на язык программирования c++,
крейт исходный код которого находится в папке kurbo, 
помещать заголовочные файлы в include/kurbo, файлы реализации в src/kurbo,
rust файлы не изменять.
Сначала нужно проанализировать крейт и определить в каком порядке надо начать
перевод, для каждого rs файла должен быть создан соответствующий hpp и cpp файл.
Заголовочные файлы начинать с "#pragma once".
Использовать C++17/20.Добавлять коментарии на английском.
Создать include/kurbo/kurbo.hpp с перечнем всех заголовочных файлов
в порядке их определения, сначала закоментированные.
Реализовать нужно все типы и все их методы, максимально насколько это возможно.
Реализовывать полную функциональность, без урезания .
Тестировать и проверять корректность перевода.
После перевода раскоментировать соответствующий файл в kurbo.hpp .
Сначала переводить базовые типы, создать тесты для них, проверить результаты тестирования,
далее перейти к сложным типам.
тесты в cpp/tests, примеры в cpp/examples.
Тесты создавать на основе соответствующих rust тестов.
для каждого rust файла с тестами соответствующий c++ тест.
тесты создавать с использованием gtest.
После создать CMakeLists.txt для сборки библиотеки, тестов и примеров.
Использовать mingw64 для сборки, включая cmake, gcc toolchain.